@using BloggEdu.Controllers
@model Class1

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Çalışan Adı Soyadı</label>
    <input type="text" asp-for="@Model.Name" class="from-control" />
    <br />
    <button type="submit" class="btn btn-info">Çalışan Ekle</button>
</form>

