@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>
<style>
    th {
        padding-right: 20px;
    }
</style>

<table>
    <tr>
        <th>Gönderen</th>
        <td>:@ViewBag.sendername</td>
    </tr>
    <tr>
        <th>Alıcı</th>
        <td>:@ViewBag.receivername</td>

    </tr>
    <tr>
        <th>Konu</th>
        <td>:@Model.Subject</td>
    </tr>
</table>

<br />

<table>
    <tr>
        <th>Mesaj İçeriği</th>
    </tr>
   
</table>

<div class="form-control" style="height:auto; overflow-y:scroll;" readonly>
    @Model.MEssageDetails
</div>
<br />

@* <a href="@Url.Action("Inbox", "Message")" class="btn btn-success">Gelen Mesajlara Dön</a>
<a href="@Url.Action("Sendbox", "Message")" class="btn btn-success">Giden Mesajlara Dön</a>
 *@